[Unit]
Description=Connection with Pixl.js device
After=bluetooth.target

[Service]
Type=simple
ExecStart=/usr/bin/python3.9 -u /home/pi/noisesensor/services/pixljs_alert/zero_ble.py
WorkingDirectory=/home/pi/noisesensor/
Restart=always
RestartSec=5s
TimeoutStopSec=10s
User=pi
CPUAffinity=1 2 3

[Install]
WantedBy=multi-user.target










