<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recording list</title>

    <script type="text/javascript" src="static/forge.min.js"></script>
    <script type="text/javascript" src="static/jquery.min.js"></script>
    <script type="text/javascript" src="static/moment.min.js"></script>
    <script type="text/javascript" src="static/download.min.js"></script>
    <script type="text/javascript" src="static/daterangepicker.min.js"></script>
    <script type="text/javascript" src="static/handsontable.full.js"></script>
    <link type="text/css" href="static/handsontable.full.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="static/daterangepicker.css"/>
    <link rel="stylesheet" type="text/css" href="static/forms.css"/>
    <link rel="stylesheet" type="text/css" href="static/status.css"/>
</head>
<body>
<div class="info top_menu">
    <ul class="ul_top_menu">
        <li class="li_top_menu"><a href="/" target="_self">Map</a></li>
        <li class="li_top_menu"><a href="/recordings" target="_self" style="outline: none;">Audio records</a></li>
        <li class="li_top_menu"><a href="/agenda" target="_self" style="outline: none;">Alert agenda</a></li>
        <li class="li_top_menu"><a href="https://nsraw.noise-planet.org" target="_blank">Backup data</a></li>
    </ul>
</div>
<div class="form-style-7">
    <h1>Alert Agenda</h1>
    <div id="error_panel" class="msg_error" style="visibility: hidden;"></div>
    <ul>
        <li>
            <label for="device">Device</label>
            <input type="search" name="device" id="device" list="device-list" />
            <span>Trigger date interval</span>
            <datalist id="device-list">
            {% for device in devices %}
                <option value="{{device.id}}"></option>
            {% endfor %}
            </datalist>
        </li>
        <li>
            <input type="button" value="Fetch" onclick="fetch()">
            <input type="button" id="download_all_button" disabled value="Download All" name="Update">
        </li>
    </ul>
</div>
</body>
</html>