<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recording list</title>

    <script type="text/javascript" src="static/forge.min.js"></script>
    <script type="text/javascript" src="static/jquery.min.js"></script>
    <script type="text/javascript" src="static/moment.min.js"></script>
    <script type="text/javascript" src="static/download.min.js"></script>
    <script type="text/javascript" src="static/daterangepicker.min.js"></script>
    <script type="text/javascript" src="static/handsontable.full.js"></script>
    <link type="text/css" href="static/handsontable.full.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="static/daterangepicker.css"/>
    <link rel="stylesheet" type="text/css" href="static/forms.css"/>
    <link rel="stylesheet" type="text/css" href="static/status.css"/>
</head>
<body>
<div class="info top_menu">
    <ul class="ul_top_menu">
        <li class="li_top_menu"><a href="/" target="_self">Map</a></li>
        <li class="li_top_menu"><a href="/recordings" target="_self" style="outline: none;">Audio records</a></li>
        <li class="li_top_menu"><a href="/devices" target="_self" style="outline: none;">Connected devices</a></li>
        <li class="li_top_menu"><a href="https://nsraw.noise-planet.org" target="_blank">Backup data</a></li>
    </ul>
</div>
<div class="form-style-7">
    <h1>Samples</h1>
    <div id="error_panel" class="msg_error" style="visibility: hidden;">
        Invalid decryption key or password
    </div>
    <ul>
        <li>
            <label for="datetimes">Date</label>
            <input type="text" name="datetimes"/>
            <span>Trigger date interval</span>
        </li>
        <li>
            <label for="privkey">Private key and password</label>
            <input type="file" name="privkey" accept=".priv,.pem">
            <input type="password" name="pwd" placeholder="Key File password"/>
            <span>Encryption private key and password, not transferred</span>
        </li>
        <li>
            <label for="hwa">Hardware Address</label>
            <datalist id="hwa_data_list">
            {% for hwa in hwa_list %}    <option value="{{hwa}}"></option>
            {% endfor %}</datalist>
            <input list="hwa_data_list" type="search" name="hwa" id="hardware_search"/>
            <span>Filter by device hardware address (empty for no filtering)</span>
        </li>
        <li>
            <input type="button" value="Fetch" id="fetch_button">
            <input type="button" id="download_button" value="Download selected">
            <input type="button" id="play_button" value="Load selected in player">
        </li>
        <li>
            <div id="waveform"></div>
        </li>
        <li>
            <label for="station-frame">Last 100 audio samples</label>
            <div id="station-frame">
                <div id="stations" class="hot handsontable htColumnHeaders"></div>
            </div>
            <span>Available samples</span>
        </li>

    </ul>
</div>
<script type="module" src="static/read_trigger.js" data-type="module" defer></script>
</body>
</html>
